<section>
    <div class="bg-secondary pt-5 px-3 ps-sm-5 pe-sm-2">
        <div class="d-sm-flex justify-content-center align-items-end text-center text-sm-start ps-2">
            <div class="me-sm-n6 pb-5">
                <h2 class="h1 text-sm-nowrap">Virtual Reality</h2>
                <p class="pb-2 mx-auto mx-sm-0" style="max-width: 14rem;">
                    Gadgets from top brands at discounted price
                </p>
                <div class="d-inline-block bg-faded-danger text-danger fs-sm fw-medium rounded-1 px-3 py-2">
                    Limited time offer
                </div>
                <div class="countdown pt-3 h4 justify-content-center justify-content-sm-start" data-countdown="10/01/2021 07:00:00 PM">
                    <div class="countdown-days">
                        <span class="countdown-value">0</span>
                        <span class="countdown-label fs-xs text-muted">Days</span>
                    </div>
                    <div class="countdown-hours">
                        <span class="countdown-value">0</span>
                        <span class="countdown-label fs-xs text-muted">Hours</span>
                    </div>
                    <div class="countdown-minutes">
                        <span class="countdown-value">0</span>
                        <span class="countdown-label fs-xs text-muted">Mins</span>
                    </div>
                </div>
                <a class="btn btn-primary" href="#">Get one now</a>
            </div>
            <div class="mx-sm-3 px-sm-3"></div>
            <div><img src="img/demo/shop-homepage/banner.png" alt="Promo banner"/>
            </div>
        </div>
    </div>
</section>