<div class="position-relative">
    <div class="position-relative zindex-5 container py-4">
        <div class="mx-auto" style="max-width:560px;">
            <form class="input-group">
                <input class="form-control" style="border-top-left-radius: 6px;border-bottom-left-radius: 6px;" type="text" placeholder="Search product">
                <button class="btn btn-primary" style="border-top-right-radius: 6px;border-bottom-right-radius: 6px;" type="submit">
                    <i class="ai-search fs-xl me-1"></i>
                </button>
            </form>
        </div>
    </div>
</div>