@page "/categories"

<div class="sidebar-enabled">
    <div class="container">
        <div class="row">
            <!-- Sidebar-->
            <div class="sidebar col-lg-3 pt-lg-5">
              <div class="offcanvas offcanvas-collapse" id="shop-sidebar">
                <div class="offcanvas-cap navbar-shadow px-4 mb-3">
                  <h5 class="mt-1 mb-0">Refine your selection</h5>
                  <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body px-4 pt-3 pt-lg-0 ps-lg-0 pe-lg-2 pe-xl-4" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px -24px 0px 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px 24px 0px 0px;">
                  <!-- Categories-->
                  <div class="widget widget-categories mb-5">
                    <h3 class="widget-title">Categories</h3>
                    <ul id="categories">
                      <li><a class="widget-link" href="#clothing" data-bs-toggle="collapse">Clothing<small class="text-muted ps-1 ms-2">235</small></a>
                        <ul class="collapse show" id="clothing" data-bs-parent="#categories">
                          <li><a class="widget-link" href="#">View all</a></li>
                          <li><a class="widget-link" href="#">Blazers &amp; Suits</a></li>
                          <li><a class="widget-link" href="#">Cardigans</a></li>
                          <li><a class="widget-link" href="#">Dresses</a></li>
                          <li><a class="widget-link" href="#">Hoodie &amp; Sweatshirts</a></li>
                          <li><a class="widget-link" href="#">Jackets &amp; Coats</a></li>
                          <li><a class="widget-link" href="#">Jeans</a></li>
                          <li><a class="widget-link" href="#">Lingerie</a></li>
                          <li><a class="widget-link" href="#">Sportswear</a></li>
                        </ul>
                      </li>
                      <li><a class="widget-link collapsed" href="#shoes" data-bs-toggle="collapse">Shoes<small class="text-muted ps-1 ms-2">210</small></a>
                        <ul class="collapse" id="shoes" data-bs-parent="#categories">
                          <li><a class="widget-link" href="#">View all</a></li>
                          <li><a class="widget-link" href="#">Athletic shoes</a></li>
                          <li><a class="widget-link" href="#">Balerinas &amp; Flats</a></li>
                          <li><a class="widget-link" href="#">Boots</a></li>
                          <li><a class="widget-link" href="#">Clogs &amp; Mules</a></li>
                          <li><a class="widget-link" href="#">Flip Flops</a></li>
                          <li><a class="widget-link" href="#">Loafers</a></li>
                          <li><a class="widget-link" href="#">Sandals</a></li>
                          <li><a class="widget-link" href="#">Sneakers</a></li>
                        </ul>
                      </li>
                      <li><a class="widget-link collapsed" href="#electronics" data-bs-toggle="collapse">Electronics<small class="text-muted ps-1 ms-2">197</small></a>
                        <ul class="collapse" id="electronics" data-bs-parent="#categories">
                          <li><a class="widget-link" href="#">View all</a></li>
                          <li><a class="widget-link" href="#">Computers &amp; Accessories</a></li>
                          <li><a class="widget-link" href="#">TV, Video &amp; Audio</a></li>
                          <li><a class="widget-link" href="#">Smartphones &amp; Tablets</a></li>
                          <li><a class="widget-link" href="#">Cameras, Photo &amp; Video</a></li>
                          <li><a class="widget-link" href="#">Headphones</a></li>
                          <li><a class="widget-link" href="#">Wearable Electronics</a></li>
                          <li><a class="widget-link" href="#">Printers &amp; Ink</a></li>
                          <li><a class="widget-link" href="#">Video Games</a></li>
                        </ul>
                      </li>
                      <li><a class="widget-link collapsed" href="#accessories" data-bs-toggle="collapse">Accessories<small class="text-muted ps-1 ms-2">124</small></a>
                        <ul class="collapse" id="accessories" data-bs-parent="#categories">
                          <li><a class="widget-link" href="#">View all</a></li>
                          <li><a class="widget-link" href="#">Bags</a></li>
                          <li><a class="widget-link" href="#">Belts</a></li>
                          <li><a class="widget-link" href="#">Hats</a></li>
                          <li><a class="widget-link" href="#">Jewelry</a></li>
                          <li><a class="widget-link" href="#">Cosmetics</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <!-- Brand (checkboxes)-->
                  <div class="widget mb-5">
                    <h3 class="widget-title">Brand</h3>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="adidas" checked="">
                      <label class="form-check-label text-nav" for="adidas">Adidas<span class="fs-xs text-muted ms-2">425</span></label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="bilabong">
                      <label class="form-check-label text-nav" for="bilabong">Bilabong<span class="fs-xs text-muted ms-2">27</span></label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="klein">
                      <label class="form-check-label text-nav" for="klein">Calvin Klein<span class="fs-xs text-muted ms-2">365</span></label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="electrolux">
                      <label class="form-check-label text-nav" for="electrolux">Electrolux<span class="fs-xs text-muted ms-2">56</span></label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="motorolla">
                      <label class="form-check-label text-nav" for="motorolla">Motorolla<span class="fs-xs text-muted ms-2">104</span></label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="nb">
                      <label class="form-check-label text-nav" for="nb">New Balance<span class="fs-xs text-muted ms-2">197</span></label>
                    </div>
                  </div>
                </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 1244px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
              </div>
            </div>
            <div class="col-lg-9 content py-4 mb-2 mb-sm-0 pb-sm-5">
              <Breadcrumb/>
              <!-- Sorting + Pager-->
              <div class="d-flex justify-content-between align-items-center py-3 mb-3">
                <div class="d-flex justify-content-center align-items-center">
                  <select class="form-select me-2" style="width: 15.25rem;">
                    <option value="popularity">Sort by popularity</option>
                    <option value="rating">Sort by average rating</option>
                    <option value="newness">Sort by newness</option>
                    <option value="price: low to high">Sort by price: low to high</option>
                    <option value="price: high to low">Sort by price: high to low</option>
                  </select>
                  <div class="d-none d-sm-block fs-sm text-nowrap ps-1 mb-1">of 135 products</div>
                </div>
                <div class="d-none d-lg-flex justify-content-center align-items-center">
                  <label class="pe-1 me-2 mb-0 form-label px-0">Show</label>
                  <select class="form-select me-2" style="width: 5rem;">
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                    <option value="60">60</option>
                  </select>
                  <div class="fs-sm text-nowrap ps-1 mb-1">products per page</div>
                </div>
              </div>
              <!-- Shop grid-->
              <div class="row">
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/01.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Men's clothing</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Simple Cotton Gray T-shirt</a></h3><span class="text-heading fw-semibold">$19.00</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/02.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Electronics</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Wireless Headphones</a></h3><span class="text-heading fw-semibold">$165.00</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><span class="badge badge-floating badge-pill bg-success">New</span><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/03.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Accessories</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Military Cotton Cap</a></h3><span class="text-heading fw-semibold">$28.00</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star"></i><i class="sr-star ai-star"></i><i class="sr-star ai-star"></i><i class="sr-star ai-star"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><span class="badge badge-floating badge-pill bg-danger">Sale</span><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/04.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Electronics</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">360 Degrees Camera</a></h3>
                      <del class="fs-sm text-muted me-1">$120.40</del><span class="text-heading fw-semibold">$98.75</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/05.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Men's shoes</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Sport Running Sneakers</a></h3><span class="text-heading fw-semibold">$140.00</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/06.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Backpacks</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Vintage Travel Backpack</a></h3><span class="text-heading fw-semibold">$82.00</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/07.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Accessories</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">3-Color Sun Stash Hat</a></h3><span class="text-heading fw-semibold">$25.99</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/08.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Electronics</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Speaker with Voice Control</a></h3><span class="text-heading fw-semibold">$49.99</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/09.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Women's shoes</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Women Colorblock Sneakers</a></h3><span class="text-heading fw-semibold">$154.00</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/10.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Accessories</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Polarized Sunglasses</a></h3><span class="text-heading fw-semibold">Out of stock</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-details" href="shop-single.html"><i class="ai-arrow-right"></i><span class="btn-tooltip">Details</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/11.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Men's shoes</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Sport Running Shoes</a></h3><span class="text-heading fw-semibold">$127.00</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
                <!-- Item-->
                <div class="col-md-4 col-sm-6 mb-grid-gutter">
                  <div class="card card-product card-hover"><a class="card-img-top" href="shop-single.html"><img src="img/shop/catalog/12.jpg" alt="Product thumbnail"></a>
                    <div class="card-body"><a class="meta-link fs-xs mb-1" href="#">Electronics</a>
                      <h3 class="fs-md fw-medium mb-2"><a class="meta-link" href="shop-single.html">Smart Watch Series 5</a></h3><span class="text-heading fw-semibold">$349.99</span>
                    </div>
                    <div class="card-footer">
                      <div class="star-rating mt-n1"><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star-filled active"></i><i class="sr-star ai-star"></i><i class="sr-star ai-star"></i>
                      </div>
                      <div class="d-flex align-items-center"><a class="btn-wishlist" href="#"><i class="ai-heart"></i><span class="btn-tooltip">Wishlist</span></a><span class="btn-divider"></span><a class="btn-addtocart" href="#"><i class="ai-shopping-cart"></i><span class="btn-tooltip">To Cart</span></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Pagination-->
              <Pagination/>
            </div>
        </div>
    </div>
</div>